<div ng-controller="ProductCtrl">
    <div class="text-info">
        <p>{{product.name}}</p>
    </div>
    <hr style="color: #149bdf">
    <div class="container-fluid">
        <div class="col-sm-10">
            <table class="table table-bordered">
                <tr class="well">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>Product name</td>
                    <td>
                        {{product.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Product description
                    </td>
                    <td>
                        {{product.description}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Quantity
                    </td>
                    <td>
                        {{product.quantity}}
                    </td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{product.price | currency}}</td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>
                <span ng-repeat="n in [] | range: 10 : product.rating">
                    <i class="icon-star" ng-show="n == 1" ng-click="rateMe(product, product.rating, $index)"></i>
                    <i class="icon-star-empty" ng-show="n == 0" ng-click="rateMe(product, product.rating, $index)"></i>
                </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>